# Models

1. build a function takes in all selected features, 
2. function produce accuray for each algirthom
3. logistic regression is the baseline

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from prepare import prep_data, split_data, scale_data

import warnings
warnings.filterwarnings("ignore")

In [2]:
# split data
df = prep_data()
train, validate, test = split_data(df, .8)
train.head()

,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,churn
3221,1,1,0,20,1,0,2,0,0,0,0,1,1,2,1,3,91.00,0
3076,0,0,0,54,1,0,2,1,0,1,0,1,0,1,0,2,89.80,0
4825,0,0,0,12,1,0,1,0,1,0,0,0,0,1,1,1,49.40,0
5571,0,0,0,1,0,0,1,0,1,0,1,0,1,1,1,2,44.65,1
6967,0,1,1,35,0,0,1,1,0,0,1,1,0,3,1,4,46.35,0

In [3]:
#scale datasets
scaler, train, validate, test = scale_data(train, validate, test)

In [4]:
train.head()

,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,churn
3221,1,1,0,0.267606,1,0,2,0,0,0,0,1,1,2,1,3,0.724551,0
3076,0,0,0,0.746479,1,0,2,1,0,1,0,1,0,1,0,2,0.712575,0
4825,0,0,0,0.154930,1,0,1,0,1,0,0,0,0,1,1,1,0.309381,0
5571,0,0,0,0.000000,0,0,1,0,1,0,1,0,1,1,1,2,0.261976,1
6967,0,1,1,0.478873,0,0,1,1,0,0,1,1,0,3,1,4,0.278942,0

In [5]:
# Name features 
X = train.drop(columns = 'churn').columns
y = ['churn']

In [6]:
# apply to train, validate, test
X_train = train[X]
y_train = train[y]
X_validate = validate[X]
y_validate = validate[y]
X_test = test[X]
y_test = test[y]

## 1. Baseline model: logistic regression

In [7]:
logit = LogisticRegression(random_state = 123)
logit.fit(X_train, y_train)
print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit.score(X_train, y_train)))
print('Accuracy of Logistic Regression classifier on validate set: {:.2f}'
     .format(logit.score(X_validate, y_validate)))

Accuracy of Logistic Regression classifier on training set: 0.80
Accuracy of Logistic Regression classifier on validate set: 0.84

## 2. Random Forest

In [8]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            #max_depth=20, 
                            random_state=123)
rf.fit(X_train, y_train)
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(X_train, y_train)))
print('Accuracy of Logistic Regression classifier on validate set: {:.2f}'
     .format(rf.score(X_validate, y_validate)))

Accuracy of random forest classifier on training set: 0.89
Accuracy of Logistic Regression classifier on validate set: 0.83

## 3. KNN

In [9]:
knn = KNeighborsClassifier(n_neighbors=8, weights='uniform')
knn.fit(X_train, y_train)
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))
print('Accuracy of Logistic Regression classifier on validate set: {:.2f}'
     .format(knn.score(X_validate, y_validate)))

Accuracy of KNN classifier on training set: 0.81
Accuracy of Logistic Regression classifier on validate set: 0.81

In [10]:
pd.DataFrame({'logistic_regression': [logit.score(X_train, y_train),logit.score(X_validate, y_validate)],
              'random_forest': [rf.score(X_train, y_train),rf.score(X_validate, y_validate)], 
              'KNN': [knn.score(X_train, y_train),knn.score(X_validate, y_validate)]}, index = ['train','validate'])

          logistic_regression  random_forest       KNN
train                0.799333          0.892  0.813778
validate             0.835556          0.832  0.814222

## 4. Make a function

In [11]:
def model_evaluation(X, y):
    # get prepared data
    df = prep_data()
    # split data
    train, validate, test = split_data(df, .8)
    # assaign X, y to different data set
    X_train = train[X]
    y_train = train[y]
    X_validate = validate[X]
    y_validate = validate[y]
    X_test = test[X]
    y_test = test[y]
    # train different models
    ## logiestic regression
    logit = LogisticRegression(random_state = 123)
    logit.fit(X_train, y_train)
    ## random forest
    rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            #max_depth=20, 
                            random_state=123)
    rf.fit(X_train, y_train)
    ## KNN
    knn = KNeighborsClassifier(n_neighbors=6, weights='uniform')
    knn.fit(X_train, y_train)
    return pd.DataFrame({'logistic_regression': [logit.score(X_train, y_train),logit.score(X_validate, y_validate)],
              'random_forest': [rf.score(X_train, y_train),rf.score(X_validate, y_validate)], 
              'KNN': [knn.score(X_train, y_train),knn.score(X_validate, y_validate)]}, index = ['train','validate'])

## 5.  Try model performance with different features

In [12]:
df.columns

Index(['senior_citizen', 'partner', 'dependents', 'tenure', 'phone_service',
       'multiple_lines', 'internet_service_type_id', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'contract_type_id', 'paperless_billing',
       'payment_type_id', 'monthly_charges', 'churn'],
      dtype='object')

### 1. Main features

In [13]:
X = ['tenure','monthly_charges','contract_type_id','senior_citizen']
y = ['churn']
model_evaluation(X, y)

          logistic_regression  random_forest       KNN
train                0.788222       0.891778  0.818889
validate             0.819556       0.814222  0.808889

### 2. Other features

In [14]:
X = ['senior_citizen', 'partner', 'dependents', 'phone_service',
       'multiple_lines', 'internet_service_type_id', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing',
       'payment_type_id']
y = ['churn']
model_evaluation(X, y)

          logistic_regression  random_forest       KNN
train                0.758667       0.814222  0.796222
validate             0.791111       0.787556  0.776889

### 3. All features

In [15]:
X = train.drop(columns = 'churn').columns
y = ['churn']
model_evaluation(X, y)

          logistic_regression  random_forest       KNN
train                0.798889       0.892222  0.824889
validate             0.836444       0.831111  0.810667

**Takeaways**
1. `tenure`,`monthly_charges`,`contract_type_id`: these three features give me a good accuracy, by adding other features, it did not increase acurracy very much
2. I assume all the `other features` has high correlation with `onthly charges`
3. `Random_forest` algrithm generate the best model performance, so this is what we are going to use.

## 6. apply best performance model to the test data set, and get the report

In [16]:
X = ['tenure','monthly_charges','contract_type_id','senior_citizen']
y = ['churn']
X_train = train[X]
y_train = train[y]
X_test = test[X]
y_test = test[y]

In [17]:
rf = RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=3,
                            n_estimators=100,
                            #max_depth=20, 
                            random_state=123)
rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

### 1. classifcation_report

In [18]:
pd.DataFrame(classification_report(y_test, y_pred, output_dict=True))

                     0           1  accuracy    macro avg  weighted avg
precision     0.814915    0.557823  0.761194     0.686369      0.747307
recall        0.874638    0.443243  0.761194     0.658941      0.761194
f1-score      0.843721    0.493976  0.761194     0.668848      0.751748
support    1037.000000  370.000000  0.761194  1407.000000   1407.000000

### 2. Confusion matrix

In [19]:
pd.DataFrame(confusion_matrix(y_test, y_pred))

     0    1
0  907  130
1  206  164

### 3. Accuracy

In [20]:
print('Accuracy of random forest classifier on test set: {:.2f}'
     .format(rf.score(X_test, y_test)))

Accuracy of random forest classifier on test set: 0.76

### 4. Write prediction to a .csv file